.main{
    text-shadow: 1px 2px 2px ##d81539;
    font-family: arial;
    font-style: bold;
    font-size: 20px;
    word-wrap: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section {
  width: 50%;
  height: 100%;
}
h2{
    text-shadow: 2px 3px 3px #1C6EA4;
    font-size:40px;
    color:red;
}
.background{
    background-color: grey;

}
video {
  width: 100%;
  height: 56.25%;
  margin-top: 21.875%;
}
