/*index*/

.topnav{
    font-size: 25px;
    background-color: red;
    text-align: center;
    color: white;
}

.topnav:hover{
    background-color::#111;

}


.clearfix {
    content:"";
    clear:both;
    display: table;
}

.spyicon{
    height:2em;
    width:2em;
}

.secret{
    height:2em;
    width: 2em;
}



<<<<<<< HEAD
.main{
<<<<<<< HEAD
    text-shadow: 1px 2px 2px #1C6EA4;
=======
    text-shadow: 1px 2px 2px ##d81539;
>>>>>>> 40dde81cca2bcb3205908e0f4700f72224cfce12
    font-family: arial;
    font-style: bold;
    font-size: 20px;
    word-wrap: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section {
  width: 50%;
  height: 100%;
}
<<<<<<< HEAD
.background{
    background-color: red;
}
video {
  width:auto;
  height:auto;
  margin-top: 21.875%;
 }
=======
h2{
    text-shadow: 2px 3px 3px #1C6EA4;
    font-size:40px;
    color:red;
}
.background{
    background-color: grey;

}
video {
  width: 100%;
  height: 56.25%;
  margin-top: 21.875%;
}
>>>>>>> 40dde81cca2bcb3205908e0f4700f72224cfce12
