/*index*/

h1{
    text-align: left;
}

.topnav{
    font-size: 25px;
    background-color: #333;
    text-align: right;
    padding: 2px;
    color: white;
    text-decoration: none;
    font-style: oblique;
}

.topnav:hover{
    background: #111;
}


.clearfix {
    content:"";
    clear:both;
    display: table;
}

.spyicon{
    height:2em;
    width:2em;
}

.secret{
    height:2em;
    width: 2em;
}



<<<<<<< HEAD

<<<<<<< HEAD

.section {
  width: 50%;
  height: 100%;
}

.background{
    background-color: red;
}
.main{
    text-shadow: 1px 2px 2px #1C6EA4;
    font-family: arial;
    font-style: bold;
    font-size: 20px;
    word-wrap: normal;
    display: flex;
    align-items: center;
}
h2{
    text-shadow: 2px 3px 3px #1C6EA4;
    font-size:40px;
    color:red;
}

    
